# compiled output
app/test-report/
app/test-unit-report/*
app/test-infrastructure-report/*
app/dist
app/node_modules
.aws/
app/pnpm-lock.yaml
app/.pnpm-store

# Logs
app/.cache
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

junit.xml
html-report
documentation
.idea
coverage

deploy/jenkins.private.yml
app/jest_html_reporters.html

# Config
app/.env
# Scanning
.scannerwork
