<div class="filter-container">
  <h3>Filtros de búsqueda</h3>
  <div class="filter-item">
    <span>Fecha de publicación</span>
  </div>
  <div class="filter-item">
    <span>Área</span>
  </div>
  <div class="filter-item">
    <span>Subárea</span>
  </div>
  <div class="filter-item">
    <span>Departamento</span>
  </div>
  <div class="filter-item">
    <span>Distrito</span>
  </div>
  <div class="filter-item">
    <span>Modalidad de trabajo</span>
  </div>
  <div class="filter-item">
    <span>Nivel laboral</span>
  </div>
  <div class="filter-item">
    <span>Carga horaria</span>
  </div>
  <div class="filter-item">
    <span>Postulantes con discapacidad</span>
  </div>
  <div class="filter-item delete-icon">
    <span class="delete-button">
      <i class="trash-icon"></i> <!-- Reemplaza esto con el icono que uses -->
    </span>
  </div>
</div>
