<div class="job-card">
  <div class="job-header">
    <h2 class="job-title">{{ jobTitle }}</h2>
    <span class="company-name">{{ companyName }} - {{ rating }} ★</span>
    <span class="post-time">{{ postTime }}</span>
  </div>

  <div class="job-description">
    <p>
      {{ jobDescription }}
    </p>
  </div>

  <div class="job-details">
    <span class="job-location">
      <i class="location-icon"></i> {{ jobLocation }}
    </span>
    <span class="job-type">
      <i class="type-icon"></i> {{ jobType }}
    </span>

    <button type="submit">Postular</button>

  </div>
</div>
