<div class="search-container">
    <app-search-filter></app-search-filter>
  <div class="list-container">
    <div  *ngFor="let job of jobs">
      <app-search-card
        [jobTitle]="job.title"
        [companyName]="job.companyName"
        [rating]="job.rating"
        [postTime]="job.postTime"
        [jobDescription]="job.description"
        [jobLocation]="job.location"
        [jobType]="job.type"
      ></app-search-card>

    </div>
    <!-- Paginación -->
    <div class="pagination">
      <a *ngFor="let page of [1, 2, 3]" [href]="currentUrl+'?page='+page" class="page-link"
         [class.active]="page === currentPage"
         (click)="changePage(page)">
        {{ page }}
      </a>
    </div>
  </div>



</div>

